.i-icons{
    display: inline-block;
    background: url("../images/style/elements.png");
    vertical-align: middle;
}
.i-search{
    width: 16px;
    height: 16px;
}

.i-add{
    width: 14px;
    height: 14px;
    background-position: -19px 0;
}
.i-add-white{
    width: 15px;
    height: 15px;
    background-position: -204px -0px;
}
.i-star{
    margin-top: -3px;
    width: 15px;
    height: 13px;
    background-position: -36px 0;
}

.i-metro_red{
    width: 16px;
    height: 15px;
    background-position: -56px 0;
}
.i-metro_purple{
    width: 16px;
    height: 15px;
    background-position: -76px 0;
}
.i-metro_orange{
    width: 16px;
    height: 15px;
    background-position: -96px 0;
}

.i-metro_green{
    width: 16px;
    height: 15px;
    background-position: -116px 0;
}
.i-metro_blue{
    width: 16px;
    height: 15px;
    background-position: -135px 0;
}
.i-map{
    width: 10px;
    height: 14px;
    background-position: 0 -20px;
}
.i-vk{
    width: 21px;
    height: 21px;
    background-position: -155px 0;
}
.i-facebook{
    width: 21px;
    height: 21px;
    background-position: -178px 0;
}
.i-phone{
    width: 16px;
    height: 16px;
    background-position: -46px -19px;
}
.i-mail{
    width: 16px;
    height: 14px;
    background-position: -65px -19px;
}

.i-close{
    width: 18px;
    height: 18px;
    background-position: -85px -19px ;
}
.i-arrow{
    width: 28px;
    height: 11px;
    background-position: -13px -20px;
}
.i-close_black{
    width: 14px;
    height: 14px;
    background-position: -107px -20px;
}
.i-shadow{
    position: relative;
}
.i-shadow:before{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    opacity: 0.5;
    z-index: -1;
    content: '';
}
.i-like_black{
    width: 15px;
    height: 15px;
    background-position: -224px 0;
}
.i-like_white{
    width: 15px;
    height: 15px;
    background-position: -243px 0;
}
.i-dislike_black{
    width: 15px;
    height: 15px;
    background-position: -284px 0;
}
.i-dislike_white{
    width: 15px;
    height: 15px;
    background-position: -263px 0;
}