@import url(../fonts/gotham_pro/gotham_pro.css);
@import url(icons.css);

/**Содержит общие стили сайта*/
p{
    margin: 12px 0;
}
ul{
    display: inline-block;
}
body{
    font: 12px arial, Helvetica, sans-serif;
}
input,textarea,select{
    padding-left: 3px;
    padding-right: 3px;
}
.header{
    height: 60px;
    position: relative;
}
.header:before{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #eaedf3;
    content: '';
    opacity: 0.9;
    z-index: -1;
}

.header-content{
    width: 970px;
    margin: auto;
    line-height: 60px;
    position: relative;
}

.header-content-logo{
    float: left;
    margin: 10px 0 0 19px;
    display: inline-block;
    font:lighter 30px "Gotham Pro",gotham_pro;
    text-transform: uppercase;
}
.header-content-logo-link{
    color: inherit;
    text-decoration: none;
}
.header-content-logo-link__label,
.header-content-town__label,
.header-content-user__label
{
    font-weight: bold;
    color: #3060bf;
}
.header-content-user__label{
    cursor: default;
}
.header-content-town{
    float: left;
    display: inline-block;
    margin: 20px 0 0 105px;
    font: 14px arial, Helvetica, sans-serif;
}
.header-content-town__label{
    cursor: pointer;
    border-bottom: 1px dotted #3060bf;
    position: relative;
}
.header-content-town__label:after{
    display: inline-block;
    position: absolute;
    margin: 7px 0 0 5px;
    width: 0;
    height: 0;
    border-top: 6px solid #3060bf;
    border-bottom: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    content: '';
}
.user-actions{
    margin-top: 5px;
    display: none;
    list-style-type: none;
    box-shadow: 5px 5px 5px 0 #3f3f3f;
}
.user-actions a{
    text-decoration: none;
}
.user-actions{
    background: #fff;
    padding: 0;
}
.user-actions a{
    display: block;
    color: #000;
    font: normal 14px "Gotham Pro",gotham_pro;
    padding: 7px 5px 7px 34px;
}
.user-actions a:hover{
    background: #dbdbdb;
}

.header-content-user{
    position: absolute;
    vertical-align: middle;
    right: 0;
    margin: 16px 0 0 0;
    font: 14px arial, Helvetica, sans-serif;

}
.header-content-user:hover .user-actions{
    display: block;
}

.header-content-user__label{
    font-size: 14px;
    border-bottom: 1px dotted #3060bf;
    text-decoration: none;
}
.header-content-user__icon{
    width: 26px;
    height: 26px;
    margin-left: 12px;
    border-radius:26px;
}
.dropdown{
    width: 200px;
}
.dropdown__content{
    margin-left: 3px;
    position: absolute;
    display: inline-block;
    vertical-align: top;
}
.dropdown-list{
    box-shadow: 5px 5px 5px 0 #3f3f3f;
    display: none;
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 5px 0 0 0;
    background: #fff;
    z-index: 1;
}

.dropdown-list a{
    display: inline-block;
    width: 112px;
    padding: 7px 5px 7px 15px;
    text-decoration: none;
    color: #3060bf;
}
.dropdown-list a:hover{
    background: #dbdbdb;
}

.dropdown__content:hover .dropdown-list{
    display: block;
}
.content{
    width: 970px;
    margin: auto;
}

.site-master{
    float: left;
    margin: 15px 0 0 19px;
}

.site-master-link{
    display: inline-block;
    width: 117px;
    color: #fff;
    text-decoration: none;
    font-size: 11px;
}
.site-master-link img{
    display: block;
    margin-bottom: 3px;
}
.footer{
    background: url("../images/style/footer.jpg") repeat-x;
    height: 105px;
    clear: both;
}
.footer-content{
    width: 970px;
    margin: auto;
    color: #fff;
}
.footer-content-nav{
    float: left;
    margin:  30px 0 0 114px;
}
.footer-content-nav-link{
    color: #ffff00;
    font: bold 12px arial, Helvetica, sans-serif;
    margin: 0 3px;
}
.footer-social{
    float: left;
    margin: 30px 0 0 169px;
}
.footer-copy{
    margin: 33px 0 0 0;
    float: right;
}
.footer-copy-link{
    color: #fff;
}

